.assign-1-shape-1 {
    background-color: rgb(138, 43, 226);
    width: 500px;
    padding: 20px;
    margin: 20px auto;
}

.assign-1-shape-2 {
    background-color: rgb(138 43 226 /0.5);
    width: 500px;
    padding: 20px;
    margin: 20px auto;
}

.assign-1-shape-3 {
    background-color: rgb(138 43 226 /0.1);
    width: 500px;
    padding: 20px;
    margin: 20px auto;
}

hr {
    border-width: 10px;
}

.element-1 {
    background-color: rgb(149 149 149 /30%);
    width: 400px;
    padding: 15px;
    margin: 10px auto;
    border-width: 0px 0px 0px 6px;
    border-color: rgb(160, 11, 41);
    border-style: solid;
    font-family: Arial, sans-serif;
}

.element-2 {
    background-color: rgb(149 149 149 /30%);
    width: 400px;
    padding: 15px;
    margin: 10px auto;
    visibility: hidden;
    border-width: 0px 0px 0px 6px;
    border-color: rgb(38, 146, 20);
    border-style: solid;
    font-family: Arial, sans-serif;

}

.element-3 {
    background-color: rgba(149 149 149 /30%);
    width: 400px;
    padding: 15px;
    margin: 10px auto;
    border-width: 0px 0px 0px 6px;
    border-color: rgb(78, 43, 204);
    border-style: solid;
    font-family: Arial, sans-serif;

}