.assign-1-shape-1 {
    background-color: rgb(138, 43, 226);
    width: 500px;
    padding: 20px;
    margin: 20px auto;
}

.assign-1-shape-2 {
    background-color: rgb(138 43 226 /0.5);
    width: 500px;
    padding: 20px;
    margin: 20px auto;
}

.assign-1-shape-3 {
    background-color: rgb(138 43 226 /0.1);
    width: 500px;
    padding: 20px;
    margin: 20px auto;
}