.assign-1-shape-1 {
    background-color: rgb(138, 43, 226);
    width: 500px;
    padding: 20px;
    margin: 20px auto;
}

.assign-1-shape-2 {
    background-color: rgb(138 43 226 /0.5);
    width: 500px;
    padding: 20px;
    margin: 20px auto;
}

.assign-1-shape-3 {
    background-color: rgb(138 43 226 /0.1);
    width: 500px;
    padding: 20px;
    margin: 20px auto;
}

hr {
    border-width: 10px;
}

.element div {
    background-color: rgb(149 149 149 /30%);
    width: 400px;
    padding: 15px;
    margin: 10px auto;
    border-width: 0px 0px 0px 6px;
    border-style: solid;
    font-family: Arial, sans-serif;
}

.element-1 {
    border-color: rgb(202, 32, 123);
}

.element-2 {
    visibility: hidden;
    border-color: rgb(38, 146, 20);
}

.element-3 {
    border-color: rgb(78, 43, 204);
}

.parent .child .title {
    color: red;
}

.parent .title {
    /* .parent > .title {     معناها التيتل المباشر من البيرنت  */
    color: blue;
}

.parent p,
.title {
    /* .title:not(span) {*/
    color: green;
}

.one,
.two,
.three {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.one {
    text-transform: uppercase;
}

.two {
    text-transform: capitalize;
}

.one1,
.two1,
.three1 {
    line-height: 1.8;
    text-align: center;
    text-transform: capitalize;
}

.one1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.two1 {
    font-family: "Cairo", sans-serif;
    font-weight: 700;
}

.three1 {
    font-family: "Jomhuria", serif;
    font-weight: 400;
}